table {
    border-collapse: collapse;
    background: rgb(131, 205, 240);
}
td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}
.shape {
    background: darkred
}

.coloringField{
    background:darkgray
}